.profile__add-button {
    background-image: url('../../../images/add-button.svg');
    background-size: cover;
    width: 22px;
    height: 22px;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        width: 16px;
        height: 16px;
    }
}