.popup__close {
    position: absolute;
    background-image: url(../../../images/close.svg);
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    padding: 0;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
    }
}