.profile__post {
    font-size: 18px;
    line-height: 1.22;
    margin: 6px 0 0;
}

@media screen and (max-width: 767px) {
    .profile__post {
        font-size: 14px;
        line-height: 1.21;
        margin: 0 auto;
    }
}