.popup__input {
    width: 358px;
    border: none;
    font-size: 14px;
    line-height: 1.21;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin-bottom: 30px;
}

.popup__input:last-of-type {
    margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
    .popup__input {
        width: 238px;
    }

    .popup__input:last-of-type {
        margin-bottom: 45px;
    }
}